@font-face {
    font-family: ibmvga8;
    src: url(fonts/Web437_ACM_VGA_8x16.woff);
    src: url(fonts/Web437_ACM_VGA_8x16.woff?#iefix) format('embedded-opentype'),
        url(fonts/Ac437_ACM_VGA_8x16.ttf) format('truetype'),
        url(fonts/Mx437_ACM_VGA_8x16.ttf) format('truetype');
    src: url('fonts/Web437_ACM_VGA_8x16.woff2') format('woff2'),
        url('fonts/Web437_ACM_VGA_8x16.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: ms_sans;
  src: url(fonts/ms_sans_serif.woff) format('woff');
  src: url(fonts/ms_sans_serif.woff2) format('woff2');
}

@font-face {
  font-family: ms_sansB;
  src: url(fonts/ms_sans_serif_bold.woff) format('woff');
  src: url(fonts/ms_sans_serif_bold.woff2) format('woff2');
}

@font-face {
  font-family: perfectVGA;
  src: url(fonts/Perfect\ DOS\ VGA\ 437.ttf) format('truetype');
}
  
html{
  background-color: #007E7D;
}

  body {
    margin: 0;
    cursor: url("assets/cursor.png"), auto;
  }
  
  h1 {
    font-family: ms_sans;
    font-size: 25px;
    color: #f5f8fb;
    display: block;
    position: relative;
    top: -4px;
    text-shadow: 1px 1px 5px black;
  }
  
  p {
    font-family: ms_sans;
  }
  p1 {
    font-family: ms_sans;
    margin-left: -10px;
    font-size: 15px;
  }

  /* .about should be turned to grid  */

  .about {
    margin-left: 50px;
    margin-top: 50px;
    align-items: center;
  }

  .about img {
    max-width: 100px;
    width: auto;
    height: auto;
    margin-right: 10px;
  }

  .about p {
   display: flex;
   text-align: center;
   padding-left: 15px;
    
  }

  .resume {
    margin-left: 50px;
    margin-top: 20px;
    align-items: center;
  }

  .resume img {
    max-width: 100px;
    width: auto;
    height: auto;
    margin-right: 10px;
  }

  .resume p {
   display: flex;
   text-align: center;
   padding-left: 20px;
   padding-top: -20px;
    
  }

  .aboutmeBIOS{
    background-color: black;
    /* background-image: url(assets/ui/BIOS.png); */
    /* background-repeat: no-repeat; */
    box-sizing: border-box;
    width:100%;
    min-height: 100dvh;
  }

  .aboutmeBIOS img{
    width:60%;
    height: auto;
    padding-left: 8em;
    padding-top: 1em;
    z-index: auto;
  }

  .aboutmeBIOS p{
    color: #808080;
    font-family: perfectVGA;
    font-size: 22px;
    padding-left: 6.5em;
    padding-top: -1rem;
    line-height: 7px;
  }


  .StartMenu-item {
    margin-top: 90px;
    margin-left: 35px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .menu-item img {
    max-width: 50px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .menu-item p {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 25px;
    font-weight: bold;
  }
  
  .menu-button img {
    width: auto;
    height: auto;
    margin-top: 92px;
    margin-left: 225px;
  }
  
  .Taskbar {
    display: grid;
    grid-template-columns: 212px 215px 1fr 47px 173px;
    grid-template-rows: 1fr 541px 51px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .Background {
    grid-area: 1 / 1 / 4 / 6;
    background-color: #007E7D ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
  }
  
  /* .Character {
    grid-area: 1 / 1 / 4 / 6;
    background-image: url("asset/lying.gif");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  } */
  
  .Browser {
    grid-area: 1 / 1 / 3 / 6;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .Taskbarline {
    grid-area: 3 / 1 / 4 / 6;
    background-image: url("assets/ui/taskbar.png");
    height: 100%;
    z-index: 0;
    background-size: cover;
  }
  
  .AboutMeTask {
    grid-area: 3 / 2 / 4 / 4;
    background-image: url("assets/ui/tab.png");
    height: 100%;
    z-index: 0;
    margin: 7px -5px;
    background-repeat: no-repeat;
  }
  
  #aboutMeButton {
    display: inline-block;
    cursor: pointer;
    /* background-color: #f5f8fb; */
    padding-right: 300px;
  }
  
  .Start {
    grid-area: 3 / 1 / 4 / 2;
    background-image: url("assets/ui/startbutton.png");
    height: 100%;
    z-index: 4;
    cursor: pointer;
    background-size: auto 51px;
    background-repeat: no-repeat;
    background-position: left center;
    /* background-color: azure; */
  }
  
  .StartMenu {
    display: none;
    grid-area: 2 / 1 / 3 / 3;
    background-image: url("assets/ui/startmenu.png");
    background-size: auto 540px;
    background-position: 2px bottom;
    background-repeat: no-repeat; */
    position: absolute;
    bottom: 51px;
    height: 100%;
    z-index: 7;
    /*  overflow: hidden; */
    /* position: fixed;  */
    /* background-color: aqua; */
  }
  
  .StartMenu.visible {
    display: block !important;
  }
  
  .Language {
    grid-area: 3 / 4 / 4 / 5;
    height: 100%;
    z-index: 1;
  }
  
  .Time {
    grid-area: 3 / 5 / 4 / 6;
    /* background-image: url("assets/ui/tab.png"); */
    background-size: 173px 51px;
    height: 100%;
    z-index: 1;
    /* background-color: #ffffff; */
  }
  
  /* #clock {
    font-family: ibmvga8;
    color: #f5f8fb;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    text-shadow: 1px 1px 2px black;
    position: relative;
    top: -5px;
  } */
  
  #yt-link {
    text-decoration-line: none;
    width: 100%;
    color: black;
    transition: font-size 0.5s;
  }
  
  #yt-link:hover,
  #yt-link:focus {
    color: #ff0081;
    font-size: 1.5rem;
  }
  
  .AboutMeBrowser {
    display: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 300px 1fr;
    /* margin-left: 450px;
    margin-top: 50px; */
    max-width: 700px;
    width: auto;
    height: auto;
    position: absolute; /* Ensure it's absolute for positioning */
    background-image: url("assets/ui/window.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: move; 
    z-index: 1;
  
    transform: scale(0.5);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;

    font-family: ms_sansB;
  }
  
  .AboutMeWeb {
    grid-area: 2 / 1 / 3 / 2;
    padding: 40px 0 0 60px;
    display: flex;
    justify-content: space-between;
  }
  
  .AboutMeBrowser.visible {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .AboutMeBrowser.hidden {
    display: none;
  }
  